.head {
    width: 100%;
    background-image: url('../img/bandaid.jpg');
    background-size: cover;
    background-position: center;
}

.dark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .title {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    border-image: linear-gradient(0.25turn, #fff922, #ff0040, rgba(56, 2, 155, 0));
    border-bottom: 5px solid transparent;
    border-image-slice: 1;
    padding: 13px;
    transition: all 500ms;
}

.title:hover {
    border-bottom: 20px solid transparent;
}

.orange-box {
    width: 100%;
    height: 15%;
    background-color: rgba(255, 71, 4, 0.9);
    clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);
}

@media (max-width: 768px) {
    .head {
        height: 100vh;
    }

    .orange-box {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 768px) {
    .head {
        height: 500px;
    }

    .orange-box {
        position: absolute;
        bottom: calc(100vh - 500px);
    }
}
